<div class="container content">
    <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
            <h2 class="page-title">Front End Authentication Using Angular v8 (MEAN stack)</h2>
            <p>This application is designed to consume data (list of events) already stored in an api. The system
                generates "jsonwebtoken" when a user logs in.</p>
            <p>However, a user must login to view the list of "Special events". The "Logout" button strips off the
                "jsonwebtoken" and redirect the user to the homepage when it is clicked.</p>
            <p>The back-end server was created using NodeJS, Express and MongoDB</p>
        </div>
    </div>
</div>
<div class="container content">
    <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
            <h2>Back-end Server Process</h2>
            <h3>Part One</h3>
            <figure class="image is-1027x576">
                <img src="../../assets/server-image1.png">
            </figure>
            <ul>
                <li>1. create a folder "server"</li>
                <li>2. navigate into server folder</li>
                <li>3. npm init</li>
                <li>4. npm install express body-parser --save</li>
                <li>5. Create a new file "server.js"</li>
                <li>6. Inside server.js, require the package installed and the port number</li>
            </ul>
            <p>
                const express = require('express');<br />
                const bodyParser = require('body-parser');<br />
                const PORT = 3000;
            </p>
            <ul>
                <li>7. Create an istance of "express"<br />
                    const app = express();</li>
                <li>8. Specify body-parser to handle json data<br />
                    app.use(bodyParser.json());</li>
                <li>9. Test a "GET" request and listen to the request on the port<br />

                    app.get('/', function(req, res){{'{'}}<br />
                    res.send("Hello from the server!")<br />
                    });
                    <p>app.listen(PORT, function(){{'{'}}<br />
                        sonsole.log('Server running on locahost "+ PORT)<br />
                        })
                    </p>
                </li>
                <li>10. In the console run "node server"</li>
            </ul>
            <p>Server running on localhost: 3000</p>



            <h3>Part Two</h3>
            <h4>SECTION 1: SEPARATING THE CODES AS GOOD PRACTICE</h4>
            <figure class="image is-1027x576">
                <img src="../../assets/server-image2.png">
            </figure>
            --------------In api.js
            <ul>
                <li>1. Within the server folder, create a new folder called "routes"</li>
                <li>2. Inside the routes, create a file called "api.js"</li>
                <li>3. In app.js, make a simple "get" request
                    <p>
                        const express = require('express');<br />
                        const router = express.Router()<br />


                        router.get('/', (req, res)=>{{'{'}}<br />
                        res.send('From API route');<br />
                        })<br />

                        module.exports = router<br />

                    </p>
                </li>
                <li>1. Within the server folder, create a new folder called "routes"</li>
            </ul>

            --------------In server.js

            <ul>
                <li>1. Require the api route
                    const api = require('./routes/api')</li>
                <li>2. Consume the api after the body-parser
                    app.use('/api', api)</li>
            </ul>


            <h4>SECTION 2: SET UP DATABASE</h4>
            <figure class="image is-1027x576">
                <img src="../../assets/server-image3.png">
            </figure>
            <ul>
                <li>1. Set up "MongoDB"</li>
                <li>2. Install "Mongoose", a npm package that is required to interact with MongoDB and provide
                    MongoDB
                    object mapping, i.e, it translates the data in the database
                    to javascript objects
                    <p>npm install mongoose --save</p>
                </li>
            </ul>


            <h4>SECTION 3: MODELS</h4>
            <ul>
                <li>1. Create a folder called "models"</li>
                <li>2. Create a file called "user.js"</li>
                <li>3. In the user.js file require 'mongoose'
                    <p>const mongoose = require('mongoose')</p>
                </li>
                <li>4. Get an instance of the mongoose schema
                    <p>const Schema = mongoose.Schema</p>
                </li>
                <li>5. Create a new schema for the user data in MongoDB
                    <p> const userSchema = new Schema({{ '{' }}<br />
                        email: string,<br />
                        password: string<br />
                        })</p>
                </li>
                <li>5. Create a new schema for the user data in MongoDB
                    <p> 6. Create a module for the Schema and export it<br />
                        module.exports = mongoose.model('user', userSchema, 'users')<br />
                        note: "user" is the module name;<br />
                        "users" is the database collection name</p>
                </li>
            </ul>


            <h4>SECTION 4. CONNECTING WITH THE DATABASE IN THE api.js file</h4>
            <figure class="image is-1027x576">
                <img src="../../assets/server-image4.png">
            </figure>
            <ul>
                <li>1. require mongoose at the top
                    <p>const mongoose = require('mongoose')</p>
                </li>
                <li>2. declare the connection string to the database
                    <p>db =
                        "mongodb+srv://'username':'password'@food-api-6whdd.mongodb.net/test?retryWrites=true&w=majority"
                    </p>
                </li>
                <li>3. replace the username and password of the connection string with the database information
                    <p>db = 'mongodb+srv://node-shop:Swordfish01@iballidb-nxfdz.mongodb.net/test?retryWrites=true'</p>
                </li>
                <li>4. connect db with the database like below;
                    <p>mongoose.connect(db, err => {{'{'}} <br />
                        if(err){{'{'}}<br />
                        console.log('Error!' + err)<br />
                        }else{{'{'}}<br />
                        console.log('Connected to MongoDB!')<br />
                        }<br />
                        },<br />
                        {{'{'}} useNewUrlParser: true }<br />
                        );
                    </p>
                </li>
                <li>5. save and run</li>
                <li>6. 'Connected to MongoDB!' should appear on the console if the connection is successful</li>

            </ul>


            <h4>SECTION 5. POST RESQUEST TO THE DATABASE (register a user)</h4>
            <figure class="image is-1027x576">
                <img src="../../assets/server-image5.png">
            </figure>
            <ul>
                <li>1. Import the user model from model/user.js
                    <p>const User = require('../models/user.js')</p>
                </li>
                <li>2. Create the post method
                    <p>****** router.post('/register', (req, res)=>{{'{'}}<br />

                        })</p>
                </li>
                <li>3. Extract the body of the request by assigning a variable for it
                    <p>
                        router.post('/register', (req, res)=>{{'{'}}<br />
                        ****** let userData = req.body<br />
                        })</p>
                </li>
                <li>4. Pass in a new user data
                    <p> router.post('/register', (req, res)=>{{'{'}}<br />
                        let userData = req.body<br />
                        ****** let user = new User(userData)<br />
                        })</p>
                </li>
                <li>
                    5. Enable data to be saved in the database<br />
                    <p> router.post('/register', (req, res)=>{{'{'}}<br />
                        let userData = req.body<br />
                        let user = new User(userData)<br />
                        ****** user.save()<br />

                        })</p>
                </li>
                <li>

                    6. Pass in the conditions to save data
                    <p> router.post('/register', (req, res)=>{{'{'}}
                        let userData = req.body
                        let user = new User(userData)
                        ****** user.save((error, registeredUser) => {{'{'}}
                        if(error){{'{'}}
                        console.log(error)
                        }else{{'{'}}
                        res.status(200).send(registeredUser)
                        }
                        })

                        })</p>
                </li>
                <li>7. Test with "Postman"</li>
            </ul>


            <h4>SECTION 6: POST REQUEST FROM THE DATABASE (login a user)</h4>
            <figure class="image is-1027x576">
                <img src="../../assets/server-image6.png">
            </figure>
            <ul>
                <li>
                    1. Create the post method
                    <p>****** app.get('/register', (req, res)=>{{'{'}}<br />

                        })</p>
                </li>
                <li>
                    2. Extract the body of the request by assigning a variable for it
                    <p> router.post('/register', (req, res)=>{{'{'}}
                        ****** let userData = req.body
                        })</p>
                </li>

                <li>
                    3. Check if email address exist in the database already i.e find one user that have the same email
                    address
                    <p> router.post('/register', (req, res)=>{{'{'}}<br />
                        let userData = req.body<br />

                        ****** User.FindOne(<br />
                        {{'{'}}email = userData.email}, (error, user) => {{'{'}}<br />
                        if(error){{'{'}}<br />
                        console.log(error)<br />
                        } else{{'{'}}<br />
                        if(!user){{'{'}}<br />
                        res.status(401).send('Invalid email!')<br />
                        }else if(user.password == userData.password){{'{'}}<br />
                        res.status(401).send('Invalid password!')<br />
                        }else {{'{'}}<br />
                        res.status(200).send(user)<br />
                        }<br />
                        }<br />
                        }<br />
                        )<br />
                        })<br />
                    </p>
                </li>
            </ul>




            <h4>SECTION 7: EVENTS</h4>
            <figure class="image is-1027x576">
                <img src="../../assets/server-image7.png">
            </figure>
            <p>
                Instead of depending on MongoDB, we'll be creating api method with hard-coded events.
                Because we are only focusing on login authentication in this project.
            </p>
            <p>
                
   router.get('/events', (req, res) =>{{'{'}}
    let events = [
         {{'{'}}
            "id": "1",
            "name": "Auto Expo",
            "description": "Lorem Ipsum",
            "date": "2012-04-20T27:25:43:511Z"
        },
         {{'{'}}
            "id": "2",
            "name": "Ent Lotus",
            "description": "Ipsum Lorem",
            "date": "2012-04-23T18:45:43:511Z"
        },
         {{'{'}}
            "id": "3",
            "name": "Chemical Digress",
            "description": "Dpff Fyus",
            "date": "2012-04-13T05:05:43:511Z"
        },
         {{'{'}}
            "id": "4",
            "name": "Science Display",
            "description": "Jukry Latex",
            "date": "2012-04-10T16:00:43:511Z"
        }
    ]
    res.json(events)
})

            </p>
            <p>
                
   note: The route block above contains an array of events with properties "id", "name", "description" and "date"
   , and the event is returned as the response
            </p>




        </div>
    </div>
</div>